<!doctype html>
<html>

<head>
  <title>Success</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <style>
    body {
      font-family: Arial;
      background-color: #f2f2f2;
    }

    .box {
      width: 400px;
      margin: 100px auto;
      background-color: #F2F2F2;
      padding: 20px;
      border-radius: 5px;
      text-align: center;
    }

    .btn {
      display: block;
      background-color: #E82827;
      color: white;
      padding: 14px;
      margin-top: 20px;
      border-radius: 4px;
      text-decoration: none;
    }

    .btn:hover {
      background-color: #FA3E3C;
    }
  </style>
</head>

<body>

  <div class="box">
    <h3>Employee Added Successfully!</h3>

    <a href="/" class="btn">Back to Home</a>
    <a href="/add" class="btn">Add Another Employee</a>
  </div>

</body>

</html>